#fight { 
  background-color: lightcoral; 
  text-align: center; 
}

#barWrapper {
  width: 50%;
  margin: 10px auto 10px auto;
}

.fightButtons {
  border-radius: 5px;
  background-color: rgb(70, 217, 243);
  border: 2px solid rgb(17, 78, 97);
  box-shadow: 5px 5px 5px #313131;
  width: 100px;
  height: 25px;
  margin: 2px;
}