html, body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: -1;
}
  
#app > .quad {
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
  
    &::-webkit-progress-bar {
      background-color: #eee;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
  
    &::-webkit-progress-value {
      background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, rgb(97, 14, 55), rgb(14, 141, 99));
    
        border-radius: 2px; 
        background-size: 35px 25px, 100% 100%, 100% 100%;
    }
  
    &::-webkit-progress-value::before {
      content: attr(value);
      position: absolute;
      right: 0;
      top: -125%;
      z-index: 3;
    }
  }