#play { 
  background-color: rgb(107, 49, 76);
  text-align: center; 
}

#playBar {
  width: 100%;
  height: 30px;
  background-color: rgb(238, 192, 92);
  text-align: center;
  line-height: 30px;
  color: white;
}

#barWrapper {
  width: 50%;
  margin: 10px auto 10px auto;
}

.playButtons {
  border-radius: 5px;
  background-color: pink;
  border: 2px solid rgb(53, 16, 36);
  box-shadow: 5px 5px 5px #313131;
  width: 100px;
  height: 25px;
  margin: 2px;
}